project_name       = "enterprise-3tier"
environment        = "dev"
location           = "centralindia"
vnet_address_space = ["10.0.0.0/16"]
web_subnet_cidr    = ["10.0.1.0/24"]
app_subnet_cidr    = ["10.0.2.0/24"]
db_subnet_cidr     = ["10.0.3.0/24"]
vm_sku             = "Standard_B2ats_v2"
admin_username     = "azureuser"
instance_count     = 2

common_tags = {
  Environment = "Dev"
  Project     = "Azure-Portfolio-Phase2"
  Owner       = "Avi Arora"
  ManagedBy   = "Terraform"
}
